@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: light;
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(96% 0.007 247.896);
    --color-base-300: oklch(92% 0.013 255.508);
    --color-base-content: oklch(20% 0.042 265.755);
    --color-primary: oklch(63% 0.237 25.331);
    --color-primary-content: oklch(97% 0.013 17.38);
    --color-secondary: oklch(44% 0.177 26.899);
    --color-secondary-content: oklch(98% 0.018 155.826);
    --color-accent: oklch(70% 0.191 22.216);
    --color-accent-content: oklch(97% 0.013 236.62);
    --color-neutral: oklch(57% 0.245 27.325);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(80% 0.114 19.571);
    --color-info-content: oklch(13% 0.028 261.692);
    --color-success: oklch(52% 0.154 150.069);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(12% 0.042 264.695);
    --color-error: oklch(65% 0.241 354.308);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

body {
    font-family: var(--font-anek-bangla), sans-serif;
}